body {
  background: #f9f8fe;
}

a {
  color: #f76b8a;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.App-logo {
  max-width: 60px;
  margin: 0 auto 35px;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
