.Dictionary h1 {
  display: block;
  text-align: center;
  font-weight: bold;
}

.Dictionary label {
  font-weight: 600;
  font-size: 15px;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  display: block;
  line-height: 29px;
  margin-bottom: 20px;
}

.Dictionary section {
  background: white;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0px 10px 20px rgb(0 0 0 /10%);
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  border-radius: 6px;
  padding: 6px, 10px;
  color: #333;
  border: 1px solid #ddd;
}

.Dictionary .search-input {
  display: block;
  height: 64px;
  font-size: 18px;
  padding: 22px;
  border-radius: 6px;
  line-height: 21px;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}

.Dictionary .loader {
  margin: 0, auto;
}
